* {
    margin: 0;
    padding: 0;
}

header {
    width: 1600px;
    height: 95px;
    box-shadow: 2px 4px 5px 0.00px rgba(0, 0, 0, 0.14);
}

.logo {
    width: 95px;
    height: 95px;
    background: url(images/Rectangle-27.png);
}

.logo img {
    margin-left: 19px;
    margin-top: 19px;
}